* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: #074b5c;
  border-radius: 50px;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url(img.jpg);
  background-size: cover;
  position: relative;
  z-index: 0;
  font-family: 'Open-sans', sans-serif;
}

body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, .01);
  backdrop-filter: blur(10px);
  z-index: 1;
}

form {
  position: relative;
  z-index: 2;
  display: flex;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

form select {
  margin-top: 25px;
  width: 200px;
  height: 30px;
  border-radius: 8px;
  border: 0;
  outline: 0;
  font-size: 15px;
  font-weight: bold;
}

form input {
  width: 200px;
  height: 30px;
  border-radius: 8px;
  border: 0;
  outline: 0;
  font-size: 15px;
  font-weight: bold;
}

form button {
  border-radius: 8px;
  outline: 0;
  border: 0;
  padding: 10px;
  height: 30px;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 15px;
}

.history {
  position: relative;
  z-index: 400;
  padding: 10px;
  background: #fff;
  border-radius: 8px;
  width: 300px;
  transition: .5s ease;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  height: 320px;
  overflow: auto;
  box-shadow: 0 0 5px rgb(0 0 0 / 30%);
}

.res {
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;
  border-left: 3px solid #074b5c;
  border-radius: 0 3px 3px 0;
  background: #fff;
  box-shadow: 0 0 5px rgb(0 0 0 / 30%);
  font-weight: 600;
  font-size: 18px;
  color: #074b5c;
  position: relative;
  overflow: auto;
  gap: 20px;
  min-height: 41px !important;
}

.tutorial {
  background: #fff;
  padding: 20px;
  border-radius: 0 0 8px 8px;
  width: 300px;
  position: relative;
  top: -12px;
  z-index: 500;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  border-top: 2px solid #074b5c;
  color: #074b5c;
  font-weight: bold
}

.tutorial h4 {
  margin: 0;
}

.tutorial .text {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}